typings/
check-style/
node_modules/
bower_components/
dist/
tmp/
src/assets/sass/maps/
staticResources*
jshint-report.html
*~
*.sublime-workspace
*.sublime-project
secret.json
*.DS_Store
.mongodb/
js/